<div class="card mt-3">
  <div class="card-header bg-info text-white"><h3>Liste des offres</h3></div>
</div>
<div class="card-deck">
  <div class="card col-md-4" *ngFor="let item of data" >
    <img class="card-img-top" src="{{item.image}}" alt="{{item.image}}" />
    <div class="card-body">
      <rating [(ngModel)]="item.nombreEtoile" [max]="5" [readonly]="isReadonly" style="color:gold; font-size: 25px; "></rating>
      <h5 class="card-title">{{ item.nomHotel +" " + item.region }}</h5>
      <p class="card-text">{{ item.nomHotel }}</p>
      <p class="card-text">
        <small class="text-muted">{{ item.prixNuite }}</small>
      </p>
    </div>
  </div>
</div>
