<div class="container-fluid">
  <div class="panel panel-default">
      <div class="card-header bg-light text-white">
          <div class="form-row">
          <div class="col-1.5">
          <select id="inputState" class="form-control form-control-lg">
            <option selected>Choose contry</option>
            <option>...</option>
          </select>
          </div>
          <div class="col-2">
              <select id="inputState" class="form-control form-control-lg" disabled>
                  <option selected>Choose city</option>
                  <option>...</option>
                </select>
          </div>
          </div>
      </div>
  </div>
</div>
